* {
  margin: 0;
  padding: 0;
  font-family: 'Karla', 'Hiragino Kaku Gothic Pro', sans-serif;
}
body {
  margin: auto;
}

/* Loading animation https://tobiasahlin.com/spinkit/ */
.spinner {
  background-color: #333;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 400px;
  left:calc(50% - 50px/2);
  z-index: 3;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}
@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
